<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">
    <nav class="bg-[#FF6347] p-6 text-[#333333]">
        <div class="container mx-auto flex justify-between text-xl">
            <a href="{% url 'event_list' %}" class="font-bold bg-gradient-to-r from-white to-yellow-200 bg-clip-text text-transparent">Event Management</a>
            <div class="space-x-4">
                <a href="{% url 'event_list' %}" class="hover:text-[#FFD700] text-white">Events</a>
                <a href="#" class="hover:text-[#FFD700] text-white">About Us</a>
                <a href="#" class="hover:text-[#FFD700] text-white">Contact Us</a>
            </div>

            <!-- Hamburger Menu for Authenticated Users -->
            {% if user.is_authenticated %}
            <div class="relative">
                <button class="flex items-center space-x-2 text-white" onclick="toggleDropdown()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>

                <!-- Dropdown Menu -->
                <div id="userDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg">
                    {% if user.is_superuser %}
                    <a href="{% url 'admin_dashboard' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Admin Dashboard</a>
                    {% elif is_organizer %}
                    <a href="{% url 'organizer_dashboard' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Organizer Dashboard</a>
                    {% else %}
                    <a href="{% url 'participant_dashboard' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">{{user.username}} Dashboard</a>
                    {% endif %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 w-full text-left">Logout</button>
                    </form>
                </div>

            </div>
            {% else %}
            <div>
                <a href="{% url 'login' %}" class="px-3 hover:underline text-white">Login</a>
                <a href="{% url 'signup' %}" class="px-3 hover:underline text-white">Signup</a>
            </div>
            {% endif %}
        </div>
    </nav>
    <script>
        function toggleDropdown() {
            document.getElementById('userDropdown').classList.toggle('hidden');
        }
    </script>
    {% block content %}{% endblock %}
    {% include 'footer.html' %}    
</body>
</html>
